# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

#build directories
build/
build_isolated/
devel/
devel_isolated/
logs/

# CMake files
CMakeCache.txt
CMakeFiles/

#catkit files
.catkin_tools/
.catkin_workspace

# VScode cache files
.vscode/

# python cache files
__pycache__/