<launch>
    <!-- Run Python car control node -->
    <node pkg="simulator" type="vehicle_node.py" name="vehicle_node" output="screen">
        <param name="control_frequency" value="50"/>
    </node>

    <!-- Run MPC controller node -->
    <node pkg="mpc_controller" type="mpc_node" name="mpc_node" output="screen">
        <param name="controller_type" value="dumb"/>
    </node>

    <!-- Run Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find simulator)/rviz/default.rviz" />

</launch>
